<div class="mod-meeting-display <%= @calendar.available? ? "available" : "in_use" %>">
  <div class="mod-status">
    <h1><%= @calendar.location %></h1>
    <p class="description"><%= @calendar.description %></p>
    <div class="circle">
      <div class="clock">
        <%= @calendar.available? ? "Available" : "In use" %>
      </div>
    </div>
    <div class="time-left"><%= @calendar.time_left %></div>
    <% if @other_available_calenders.present? %>
      <div class="available-rooms">
        <% if @calendar.in_use? %>
            <p>These rooms are available right now:</p>
            <ul>
              <% @other_available_calenders.each do |c| %>
                  <% available_for = c.next_event.blank? ? "until the end of the day" : c.time_left(suffix: "")%>
                <li><%= "#{c.location} #{available_for}" %></li>
              <% end %>
            </ul>
        <% else %>
            <p>No other room is available right now.</p>
        <% end %>
      </div>
    <% end %>
    <div class="buttons">
      <button name="30mButton" type="button">Book Next 30 Mins</button>
      <button name="1hrButton" type="button">Book Next Hour</button>
    </div>
  </div>

  <div class="mod-calendar">
    <% 8.upto(11).each do |hour| %>
      <div class="line hour-<%= hour %>-full"></div>
      <div class="line hour-<%= hour %>-half"></div>
      <div class="time time-<%= hour %>"><%= hour %>:00am</div>
    <% end %>
      <div class="line hour-12-full"></div>
      <div class="line hour-12-half"></div>
      <div class="time time-12">12:00pm</div>
    <% 13.upto(18).each do |hour| %>
      <div class="line hour-<%= hour %>-full"></div>
      <div class="line hour-<%= hour %>-half"></div>
      <div class="time time-<%= hour %>"><%= hour-12 %>:00pm</div>
    <% end %>

    <% @calendar.events.inject(nil) do |previous_event, event| %>
      <%= render partial: "events/event", locals: { event: event, previous_event: previous_event, calendar: @calendar } %>
      <% event %>
    <% end %>

    <span class="now" style="top: <%= seconds_to_px(Time.zone.now.seconds_since_midnight) %>px;">
      <span class="label"><%= l(Time.zone.now, format: :time_only) %></span>
    </span>
  </div>
</div>
